body{
    margin: 0;   
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
    position: sticky;    
}

.container-secondary{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px 18px 0px;  
}

.nav_logo{
    width: 380px;
    height: 43px;
    
}

.nav_header{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-left: 90px;
    margin-right: 70px;
}

.nav-link{
    font-size: 24px;
    font-weight: bold;
}

.nav_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 64px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #E8383D;
    font-size: 24px;
    color: white;
    border-radius: 15px;
    background: var(--CTA, #E8383D);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle .bar {
    width: 40px;
    height: 3px;
    background-color: #303030;
    margin: 4px 0;
    transition: 0.4s;
}

.blue-primary{
    color: #073880;
}

.introduce{
    background-color: #55CADD;
    background-image: radial-gradient(
        #84D1E2  3px,
        transparent 3px
    );
    background-size: 20px 20px;

    position: relative;
}

.introduce_img{
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 592px;
    height: 360px;
}

.introduce_talk{
    position: absolute;
    left: 0;
    bottom: 74px;
}

.introduce_header{
    display: flex;
    align-items: flex-end;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
    padding-top: 30px;
    padding-bottom: 42px;

}

.introduce_header-yellow{
    color: #FFF352;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.introduce_header-white{
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.introduce_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    color: var(--__, #073880);
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    gap: 30px;
}

.introduce_item{
    display: flex;
    align-items: center;
    height: 56px;
    flex-shrink: 0;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.15);
}

.introduce_item-content{
    background: #FFF;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 20px 0 10px;
}

.introduce_item-img{
    width: 56px;
}

.introduce_footer{
    color: var(--_Y, #FFF352);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.40);
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 120px;
}

.problem{
    background-image: url("img/problem_image.jpg");
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.problem_header{
    padding-top: 60px;
    padding-bottom: 48px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.problem_list{
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    gap: 30px;
}

.problem_item{
    display: flex;
}

.problem_item .content{
    display: flex;
    flex-wrap: wrap;
}

.problem_item-image{
    width: 70px;
    height: 54.554px;
    flex-shrink: 0;
}

.problem_item-white{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.problem_item-yellow{
    color: var(--_Y, #FFF352);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.solution_header{
    height: 326px;
    flex-shrink: 0;
    background-image: url('img/solution_image.png');
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.solution_header .content{
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
}

.solution_header p{
    color: var(--__, #073880);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.solution_header p span {
    font-weight: 300;
}

.solution_list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.solution_item{
    display: inline-flex;
    height: 88px;
    padding: 10px 40px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    border-radius: 10px;
    border: 2px solid var(--__, #073880);
    background: var(--__, #00A5C7);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.solution_footer{
    display: flex;
   
    gap: 40px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.solution__footer-warning{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 60px 32px 60px 32px;
    border-radius: 20px;
    background-color: var(--_Y, #FFF352);
    background-image: url('img/warning-img.png');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    font-family: "Noto Sans JP";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 57.6px */
}

.solution__footer-warning::after{
    background-image: url('img/warning-img.png');
    z-index: 1;
    width: 290px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 290px;
}

.pricing{
    background: linear-gradient(180deg, #D9D9D9 0%, #D9D9D9 42.5%, #737373 100%);
    position: relative;
    z-index: 1;
}

.pricing_header{
    display: flex;
    align-items: center;
    gap: 56px;
    z-index: -1;
    padding-top: 22px;
}

.pricing_img-triangle{
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.pricing_header-img{  
    width: 220px;
    height: 211.882px;
}

.pricing_header-content{
    color: var(--__, #073880);
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.pricing_description{
    color: var(--base_gry, #303030);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 60px;
    }

.pricing_table{
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px; /* 250% */
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-collapse: collapse;
    }

th, td {
    background: var(--base_gry, #303030);
}

td{
    padding: 0 48px 0 48px;
}

.pricing_warning{
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 854px;
}

.pricing_warning::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 10px; /* Độ dày của gạch chân */
    width: 100%;
    background-color: #000; /* Màu sắc của gạch chân */
}

.pricing_warning1{
    color: var(--CTA, #E8383D);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    }

.pricing_warning2{
    color: var(--CTA, #E8383D);
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    }

.pricing_warning3{
    color: var(--CTA, #E8383D);
    font-family: "Noto Sans JP";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    }

.pricing_warning-under{
    color: var(--base_gry, #303030);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
    margin-bottom: 34.5px;
    margin-top: 10px;
}

.pricing_talk{
    position: relative;
    z-index: 1;
}

.pricing_talk-bg{
    width: 100%;
    max-width: 1440px;
}

.pricing_talk-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360.011px;
    height: 219.393px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 65px */
}

.talk-item1, .talk-item2, .talk-item3{
    background-image: url('img/pricing-talk1.png');
}

.talk-item1{
    position: absolute;
    top: 16px;
    left: 13.8%;
}

.talk-item2{
    position: absolute;
    top: 283px;
    left: 6.6%;
}

.talk-item3{
    position: absolute;
    top: 553px;
    left: 15.2%;
}

.talk-item4{
    position: absolute;
    top: 0;
    right: 20%;
}

.talk-item5{
    position: absolute;
    top: 203px;
    right: 8.6%;
}

.talk-item6{
    position: absolute;
    top: 497px;
    right: 17%;
}

.talk-item4, .talk-item5, .talk-item6{
    background-image: url('img/pricing-talk2.png');
}

.blackline{
    height: 173px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--_Y, #FFF352);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 82.353% */
}

.hotdeal{
    background-color: #55CADD;
    background-image: radial-gradient(
        #84D1E2  3px,
        transparent 3px
    );
    background-size: 20px 20px;
    z-index: -1;
}

.hotdeal_header{
    height: 336px;
    background-image: url('img/solution_image.png');
    background-size: cover;
    background-position: center;
    position: relative;
}



.hotdeal_header .content{
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
}


.hotdeal_header-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hotdeal_header-top p, 
.hotdeal_header-bottom p{
    color: var(--__, #073880);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hotdeal_header-bottom span{
    color: var(--__, #073880);
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hotdeal_header-bottom b{
    color: var(--__, #073880);
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hotdeal_description{
    margin-top: 34px;
}

.hotdeal_description1{
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hotdeal_description-line2{
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.hotdeal_description2{
    color: var(--_Y, #FFF352);
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hotdeal_detail{
    border-radius: 30px;
    border: 10px solid var(--__, #073880);
    background: #FFF;
    z-index: 1;
}

.hotdeal_detail-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 76px;
    margin-right: 76px;
    z-index: 1;
    background: linear-gradient(180deg, transparent 80%, #FFF352 60%);
    margin-top: 70px;
}

.hotdeal_detail-top p{
    color: var(--CTA, #E8383D);
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

.hotdeal_detail-top b{
    color: var(--CTA, #E8383D);
    font-size: 160px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

.hotdeal_detail-top small{
    color: var(--CTA, #E8383D);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.hotdeal_detail-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hotdeal_detail-bottom .right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 56px;
    background: linear-gradient(180deg, transparent 80%, #FFF352 60%);
}

.hotdeal_detail-bottom img{
    height: 100px;
    width: 100px;
}

.hotdeal_detail-bottom small{
    color: var(--__, #073880);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 40px */
}

.hotdeal_detail-bottom p{
    color: var(--__, #073880);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.hotdeal_detail-bottom b{
    color: var(--__, #073880);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.hotdeal_detail-line3{
    color: var(--__, #073880);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 64px;
}

.hotdeal_footer{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 50px;
}

.procedure{
    background: var(--__, #073880);
}

.procedure_header{
    padding-top: 80px;
    padding-bottom: 73px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 100% */
}

.procedure_list{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 80px;
    
}

.procedure_item{
    display: flex;
    background-color: white;
    height: 144px;
    position: relative;
    z-index: 1;
}

.procedure_item::after{
    content: '';
    position: absolute;
    background-image: url('img/procedure_rectangle.png');
    width: 191px;
    height: 144px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.procedure_item-symbol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.procedure_item-symbol small{
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
}

.procedure_item-symbol img{
    z-index: 1;
}

.procedure_item-detail{
    flex: 5;
}

.procedure_item-detail b{
    color: var(--__, #073880);
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.procedure_item-detail p{
    color: var(--base_gry, #303030);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.faqs{
    padding-bottom: 80px;
}

.faqs_header{
    color: var(--_, #073880);
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-top: 80px;
    margin-bottom: 72px;
}

.faqs_list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faqs_item{  
    border-radius: 20px;
    border: 3px solid var(--__, #00A5C7);
}

.faqs_item-ask, .faqs_item-answer{
    display: flex;
    align-items: center;
    position: relative;
}

.faqs_item-disable{
    display: none;
}

.faqs_item-ask::after{
    content: '';
    position: absolute;
    left: 40px;
    bottom: -8px;
    height: 2px; /* Độ dày của gạch chân */
    width: 94%;
    background-color: #00A5C7; /* Màu sắc của gạch chân */
    display: none;
}

.faqs_item-answer .faqs_item-logo{
    color: var(--__, #073880);
}

.faqs_item-content{
    margin-top: 23px;
}

.faqs_item-content span{
    color: var(--__, #073880);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.faqs_item-content p{
    color: var(--base_gry, #303030);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 800px;
}


.faqs_item-logo{
    color: var(--__, #00A5C7);
    text-align: center;
    font-family: Impact;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    margin-right: 40px;
}

.faqs_item-question{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: auto;
}

.faqs_item-plus{
    font-size: 60px;
    color: var(--__, #00A5C7);
    float: right;
    margin-right: 30px;
}

.footer{
    display: flex;
    padding-top: 15px;
    padding-bottom: 24px;
    justify-content: space-between;
}

.footer_links{
    display: flex;
    gap: 50px;
}

.footer_link{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.footer_copyright{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.turquoise-primary{
    color: #00A5C7;
}

footer{
    background-color: #00A5C7;
}

@media (max-width: 768px) {
    .nav{
        justify-content: space-around;
    }

    .nav_button {
        display: none;
    }

    .nav_header{
        display: none;
    }
    
    .nav_header.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        transform: translateX(-50%);
    }
    
    .nav-toggle {
        display: flex;
    }

    .nav-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 10px);
    }

    .nav-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -10px);
    }

    .introduce_header{
        flex-direction: column;
        align-items: flex-start;
    }

    .solution_footer{
        flex-direction: column;
    }
  }